{% extends "baseadmin.html.twig" %}
{% block title %}{% endblock  %}
{% block body %}
    {% form_theme formPlaylist 'bootstrap_4_layout.html.twig' %}
    <br/>
    <h2>Détail de la playlist</h2>
    <br/>
    {{ form_start(formPlaylist) }}
    {{ form_end(formPlaylist) }}
{% endblock %}