{% extends "baseadmin.html.twig" %}
{% block title %}{% endblock  %}
{% block body %}
    <br/>
    <h2 class='text-info'>Ajout d'une nouvelle categorie</h2>
    {{ include ('_admin.categorie.form.html.twig') }}
{% endblock %}